snippet #!
#! /usr/bin/julia
endsnippet

snippet fu
function ${1:\$name}(${2:args...})
	${3:\$body}
end
endsnippet

snippet ma
macro ${1:\$name}(${2:args...})
	${3:\$body}
end
endsnippet

snippet mo
module ${1:\$name}

${2:\$body}

end # module
endsnippet

snippet ty
type ${1:\$name}
	${2:\$body}
end
endsnippet

snippet im
import ${1:\$what}
endsnippet

snippet ex
export ${1:\$what}
endsnippet

snippet us
using ${1:\$what}
endsnippet
